.App {
  text-align: center;
  font-family: 'Mulish', monospace;
}

.App-logo {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
  pointer-events: none;
}

.App-title {
  color: rgb(232, 230, 227);
  font-size: 25px;
  line-height: 20px;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
